---
layout: home
title: Home
---

<style>
    body {
      position: relative;
    }

    body::before {
      content: ''; /* Creates the pseudo-element */
      position: fixed; /* Covers the entire page */
      bottom: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-image: url('/assets/images/image1.png'); /* Background image */
      background-size: cover; /* Covers the entire viewport */
      background-repeat: no-repeat; /* Prevents tiling */
      background-position: center; /* Centers the image */
      opacity: 0.4; /* Makes the background image almost transparent */
      z-index: -1; /* Sends it behind the content */
    }
</style>



